<%- contentFor('hero') %>
    <!-- <section class="hero">
        <div class="hero-content">

            <h1>Welcome Homie</h1>
            <p> learning node</p>
            <a href="/" class="btn btn-lg btn-primary">Home</a>
            <a href="/contact" class="btn btn-lg btn-primary">Contact</a>

        </div>


    </section> -->

    <div class="flex-container">
        <div>1</div>
        <div>2</div>
        <div>3</div>  
        <div>4</div>
        <div>5</div>
        <div>6</div>  
        <div>7</div>
        <div>8</div>
      </div>
    <%- contentFor('body') %>
        <div class="jumbotron text-center"> Home </div>
