<%- contentFor('hero') %>
    <section class="hero">
        <div class="hero-content">

            <p> Wellbeing Impact Assessment</p>
            <a href="/prosperous" class="btn btn-lg btn-primary">Start Assessment</a>

        </div>


    </section>

    <div class="flex-container">
        <div id="yellow">A prosperous Wales</div>
        <div id ="orange">A resilient Wales</div>
        <div id ="red">A healthier Wales</div>  
        <div id ="darkred">A more equal Wales</div>
        <div id ="darkblue">A cohesive Wales</div>
        <div id ="blue">A vibrant Wales</div>  
        <div id ="lightblue">A global Wales</div>
   
            </div>
    <%- contentFor('body') %>
        <div class="jumbotron text-center"> Home </div>
