<div class="jumbotron text-center">
        <h2>Wellbeing Impact Assessment: <%= user  %> </h2>
      <!-- find way to prepopulate project name -->
        <div class="row">
          <div class="col-sm-12 ">
            <h2><%= title%>  </h2>
            <p><%= content%>  </p>

      
            <form action="/contact" method="POST">
                          
              <div class="form-group">
                <label>Your projects positive impacts</label>
                <textarea type="text" rows="10" name="positive" class="form-control"></textarea>
              </div>

              <div class="form-group">
                <label>Your projects negative impacts</label>
                <textarea type="text" rows="10" name="negative" class="form-control"></textarea>
              </div>

              <div class="form-group">
                <label>Your projects Mitigation & Recommendations</label>
                <textarea type="text" rows="10" name="mitigation" class="form-control"></textarea>
              </div>

              <div class="form-group slidecontainer">
                <label>Rank relative importance (1-5)</label>
              
                <input type="range" class="slider" name="rank" min="0" max="5"  >
              
              
              </div>



              <div class="form-group text-right">
                <button type="submit" class="btn btn-primary btn-lg">Send</button>
              </div>
      
            </form>
          </div>
        </div>
      </div>